body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    color: #fff;
    background-color: #121212;
    background-size: cover;
    background-attachment: fixed;
    line-height: 1.6;
}

header {
    background: linear-gradient(135deg, #000000, #434343);
    color: #ffffff;
    padding: 20px 40px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.hero-image {
    position: relative;
    text-align: center;
}

.hero-image img {
    width: 100%; 
    height: auto;
    opacity: 0.5; 
    margin: 0 auto; 
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-family: 'Cinzel', serif;
    font-size: 36px;
}

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@700&display=swap');

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}

section {
    background: rgba(0, 0, 0, 0.8);
    padding: 40px;
    margin-top: 30px;
    border-radius: 8px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

section:hover {
    transform: translateY(-5px);
}

footer {
    background: #000000;
    color: #ffffff;
    text-align: center;
    padding: 20px;
    position: relative;
    width: 80%;
}

h1, h2 {
    font-weight: 600;
    color: #ccc;
}

p {
    color: #ccc;
    font-size: 16px;
}

.services li, .packages li {
    background-color: #333;
    margin: 10px 0; 
    padding: 10px; 
    border-radius: 5px; 
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
    color: #aad;
}

.gallery div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.gallery img {
    border-radius: 5px;
    margin: 10px;
    width: 300px;
    height: auto;
    box-shadow: 0 4px 6.5px rgba(0,0,0,0.15);
}

.gallery img:hover {
    transform: scale(1.1);
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    nav ul li {
        display: block;
        text-align: center;
        margin-top: 10px;
    }

    section {
        padding: 20px;
    }

    footer {
        text-align: center;
    }

    header {
        padding: 10px 20px;
    }

    nav ul {
        text-align: center;
    }

    nav ul li {
        margin: 5px 0;
    }

    nav ul li a {
        font-size: 16px;
    }

    h1, h2 {
        font-size: 24px;
    }

    .services li, .packages li {
        font-size: 14px;
    }

    .gallery img {
        width: 100%; 
        max-width: 300px; 
        height: auto;
    }
}
